#countdown_dashboard {
	height: 110px;
}

#countdown_dashboard .dash {
	width: 110px;
	height: 114px;
	background: transparent url('../img/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

#countdown_dashboard .dash .digit {
	font-size: 55pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
}

#countdown_dashboard .dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#countdown_dashboard .dev_comment {
	font-size: 14pt;
	color: #777;
	text-align: center;
	font-style: italic;
	margin: 40px 10px;
}
